in_class_practice/8_30.txt
in_class_practice/insert_fight_events.sql
.gitignore
in_class_practice/9_14.ipynb
in_class_practice/9_14_2.ipynb
.gitignore
in_class_practice/playlist_2010to2022.csv
.gitignore
in_class_practice/playlist_2010to2022.csv:Zone.Identifier
in_class_practice/9_29.ipynb

in_class_practice/pokemon_dataset.csv
in_class_practice/9_26.ipynb
.gitignore
in_class_practice/9_28.ipynb
in_class_practice/10_2.ipynb
.gitignore
in_class_practice
VSCode-win32-x64-1.83.1.zip:Zone.Identifier
VSCode-win32-x64-1.83.1.zip
.vscode/settings.json
spotify_report/spotify_eda_capstone.ipynb
spotify_report/spotify_eda_dashboard.pbix
.gitignore
spotify_report/datasets/artists.csv
.gitignore
spotify_report/datasets/genre_artists.csv
spotify_report/datasets/tracks.csv
.gitignore
.gitignore
spotify_report/datasets/tracks_artists.csv
wikimedia_messages/kafka_consumer/.venv
wikimedia_messages/kafka_producer/.venv
oven_temp/producer/.venv
oven_temp/oven/.venv
oven_temp/consumer/.venv

