in_class_practice/8_30.txt
in_class_practice/insert_fight_events.sql
.gitignore
in_class_practice/9_14.ipynb
in_class_practice/9_14_2.ipynb
.gitignore
in_class_practice/playlist_2010to2022.csv
.gitignore
in_class_practice/playlist_2010to2022.csv:Zone.Identifier
in_class_practice/9_29.ipynb

in_class_practice/pokemon_dataset.csv
in_class_practice/9_26.ipynb
.gitignore
in_class_practice/9_28.ipynb
in_class_practice/10_2.ipynb
.gitignore
in_class_practice/online_retail_II.xlsx
